<html>
<head>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
</head>
<body>
    <input type="text" id="input" />
    <input type="button" value="submit" id="button" />
</body>
</html>