<div id="content" class="dashboard-container centre-text">

<div class="top-margin dashboard-head">
	<div class="page-header">
		<h1>Welcome to the Adventure Dossier</h1>
	</div>
</div>


<div class="hero-unit register">
	<div class="page-header">
		<h2>New Here? <small>Create an account</small></h2>
	</div>
	<form>
		<div class="errorContainer"></div>
		
		<label>Email Address</label>
		<div class="input-prepend">
			<span class="add-on"><i class="icon-envelope"></i></span><input class="span4" size="16" type="email" placeholder="email" id="registerEmail" />
		</div>
		<label>Password</label>
		<div class="input-prepend">
			<span class="add-on"><i class="icon-key"></i></span><input class="span4" size="16" type="password" placeholder="password" id="registerPassword" />
		</div>
		<div class="form-actions dark">
			<a class="btn btn-primary pull-right submit" href="#"><span class="text">Register</span> <i class="icon-signin"></i></a>
		</div>
	</form>
</div>

<div class="hero-unit hero-light login">
	<div class="page-header">
		<h2>Already Registered? <small>Sign-in here</small></h2>
	</div>
	<form>
		<div class="errorContainer"></div>

		<label>Email Address</label>
		<div class="input-prepend">
			<span class="add-on"><i class="icon-envelope"></i></span><input class="span4"size="16" type="email" placeholder="email" id="loginEmail" />
		</div>
		<label>Password</label>
		<div class="input-prepend">
			<span class="add-on"><i class="icon-key"></i></span><input class="span4" size="16" type="password" placeholder="password" id="loginPassword" />
		</div>

		<div class="form-actions">
			<label class="checkbox inline">
				<input type="checkbox" id="rememberMe" value="option1"> Remember Me
			</label>
			<a class="btn btn-primary pull-right submit" href="#"><span class="text">Sign In</span> <i class="icon-lock"></i></a>
		</div>
	</form>
</div>


<script type="text/javascript">
	// Page widgets
	window.widgets = ["RegistrationWidget", "LoginWidget"];
</script>