<div id="login">
	<h3>Welcome! Your registration was successful</h3><p>To get you started, let's create your first game story.</p>
	<div class="input-prepend">
      <span class="add-on"><i class="icon-pencil"></i></span><input class="span3" id="name" type="text" placeholder="title">
    </div>
</div>
<div id="actions">
	<a class="btn btn-primary btn-large" href="#" id="btnNewStory"><i class="icon-book icon-white"></i><span> Create New Story</span></a>
</div>