<div class="alert alert-error hide">
    <button type="button" class="close icon-remove-sign" data-dismiss="alert"></button>
    <strong>Oh noes!</strong> The details you entered are incorrect.
  </div>
<div id="login">
	<div class="input-prepend">
      <span class="add-on"><i class="icon-envelope"></i></span><input class="span3" id="email" type="email" placeholder="email">
    </div>
	<div class="input-prepend">
      <span class="add-on"><i class="icon-key"></i></span><input class="span3" id="password" type="password" placeholder="password">
    </div>
</div>
<div id="actions">
	<a class="btn btn-large" href="#" id="btnRegister><i class="icon-certificate icon-white"></i> Register</a>
	<a class="btn btn-primary btn-large" href="#" id="btnLogin"><i class="icon-signin icon-white"></i> Login</a>
</div>