<!DOCTYPE html>
<html>
	<head>
		<title><%- appName %> - <%- title %></title>
		<link rel="stylesheet" type="text/css" href="/css/screen.css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
	</head>

	<body>
		<%- body %>

		<script type="text/javascript" src="/js/magic.js"></script>
	</body>
</html>