<!DOCTYPE html>
<html>
	<head>
		<title>AGS GDD Assistant</title>
		<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./css/screen.css">
	</head>

	<body>
		<%- body %>
	</body>
</html>